{
	"env" : {
		"browser" : true,
		"commonjs" : true,
		"es6" : true,
		"node" : true
	},
	"extends" : [
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"parser" : "babel-eslint",
	"parserOptions" : {
		"ecmaFeatures" : {
			"arrowFunctions" : true,
			"binaryLiterals" : true,
			"blockBindings" : true,
			"classes" : true,
			"defaultParams" : true,
			"destructuring" : true,
			"experimentalObjectRestSpread" : true,
			"forOf" : true,
			"generators" : true,
			"globalReturn" : false,
			"jsx" : true,
			"modules" : true,
			"objectLiteralComputedProperties" : true,
			"objectLiteralDuplicateProperties" : true,
			"objectLiteralShorthandMethods" : true,
			"objectLiteralShorthandProperties" : true,
			"octalLiterals" : true,
			"regexUFlag" : true,
			"regexYFlag" : true,
			"restParams" : true,
			"spread" : true,
			"superInFunctions" : true,
			"templateStrings" : true,
			"unicodeCodePointEscapes" : true
		},
		"sourceType" : "module"
	},
	"plugins" : [
		"@br/laws-of-the-game",
		"react",
		"babel"
	],
	"rules" : {
		"accessor-pairs" : 2,
		"arrow-parens" : [2,"always"],
		"arrow-spacing" : 2,
		"babel/object-curly-spacing" : 1,
		"block-scoped-var" : 1,
		"block-spacing" : 2,
		"brace-style" : 2,
		"callback-return" : 0,
		"comma-dangle" : [2, "never"],
		"comma-spacing" : [2, {"after" : true, "before" : false}],
		"comma-style" : [2, "last"],
		"complexity" : 0,
		"computed-property-spacing" : [2, "never"],
		"consistent-return" : 1,
		"constructor-super" : 2,
		"curly" : 2,
		"default-case" : 2,
		"eol-last" : 2,
		"eqeqeq" : [ 2, "smart" ],
		"generator-star-spacing" : [2, {"after" : true, "before" : true}],
		"guard-for-in" : 2,
		"handle-callback-err" : 1,
		"id-length" : [2, {"max" : 32, "min" : 2, "properties" : "never"}],
		"indent" : [1, "tab", {"SwitchCase" : 1 }],
		"keyword-spacing" : [2, {"after" : true, "before" : true, "overrides" : {}}],
		"@br/laws-of-the-game/alphabetize-properties": [1, {"limit": 10, "exempt": ["host", "protocol", "protocolAndHost"]}],
		"@br/laws-of-the-game/no-assign-in-case-without-braces": 1,
		"@br/laws-of-the-game/no-unauthorized-global-properties": [2, {
			"preset": "both",
			"permitted": [
				"_async_config",
				"_comscore",
				"_gaq",
				"_sf_async_config",
				"_sf_endpt",
				"akamai",
				"amznads",
				"BR",
				"bugsnag",
				"devToolsExtension",
				"FB",
				"FILE_LOCATION",
				"googletag",
				"InfogramEmbed",
				"INITIAL_STORE_STATE",
				"instgrm",
				"Krux",
				"mParticle",
				"newrelic",
				"OBR",
				"Perf",
				"React",
				"ReactDOM",
				"trusteId",
				"twttr",
				"view"
			]
		}],
		"@br/laws-of-the-game/no-use-entire-process-dot-env": 2,
		"@br/laws-of-the-game/prefer-includes-over-indexof": 1,
		"new-cap" : 2,
		"no-alert" : 2,
		"no-array-constructor" : 2,
		"no-await-in-loop": 2,
		"no-caller" : 2,
		"no-catch-shadow" : 0,
		"no-class-assign" : 2,
		"no-cond-assign" : [ 2, "except-parens"],
		"no-console" : 2,
		"no-const-assign" : 2,
		"no-constant-condition" : 2,
		"no-continue" : 2,
		"no-control-regex" : 1,
		"no-debugger" : 2,
		"no-delete-var" : 2,
		"no-div-regex" : 2,
		"no-dupe-args" : 2,
		"no-dupe-class-members" : 2,
		"no-dupe-keys" : 2,
		"no-duplicate-case" : 2,
		"no-else-return" : 2,
		"no-empty" : 2,
		"no-empty-character-class" : 1,
		"no-eq-null" : 2,
		"no-eval" : 2,
		"no-ex-assign" : 2,
		"no-extend-native" : 0,
		"no-extra-bind" : 2,
		"no-extra-boolean-cast" : 2,
		"no-extra-parens" : 2,
		"no-extra-semi" : 2,
		"no-floating-decimal" : 2,
		"no-func-assign" : 2,
		"no-implied-eval" : 2,
		"no-inner-declarations" : 2,
		"no-invalid-regexp" : 2,
		"no-invalid-this" : 2,
		"no-irregular-whitespace" : 2,
		"no-iterator" : 2,
		"no-label-var" : 2,
		"no-labels" : 2,
		"no-lone-blocks" : 2,
		"no-lonely-if" : 2,
		"no-loop-func" : 2,
		"no-mixed-spaces-and-tabs" : [1, "smart-tabs"],
		"no-multi-spaces" : 2,
		"no-multi-str" : 2,
		"no-multiple-empty-lines" : 2,
		"no-native-reassign" : 2,
		"no-negated-in-lhs" : 2,
		"no-new" : 2,
		"no-new-func" : 2,
		"no-new-object" : 2,
		"no-new-require" : 1,
		"no-obj-calls" : 2,
		"no-octal" : 2,
		"no-octal-escape" : 2,
		"no-param-reassign" : 2,
		"no-path-concat" : 1,
		"no-process-env" : 0,
		"no-process-exit" : 1,
		"no-proto" : 2,
		"no-redeclare" : 2,
		"no-regex-spaces" : 1,
		"no-return-assign" : 2,
		"no-script-url" : 2,
		"no-self-compare" : 2,
		"no-shadow-restricted-names" : 2,
		"no-spaced-func" : 2,
		"no-sparse-arrays" : 2,
		"no-this-before-super" : 2,
		"no-throw-literal" : 2,
		"no-trailing-spaces" : 2,
		"no-undef" : 2,
		"no-undef-init" : 2,
		"no-undefined" : 1,
		"no-unexpected-multiline" : 2,
		"no-unneeded-ternary" : 2,
		"no-unreachable" : 2,
		"no-unused-expressions" : 0,
		"no-unused-vars" : [2, {"args" : "all", "argsIgnorePattern" : "^_", "caughtErrors" : "all", "vars" : "all", "varsIgnorePattern": "^_"}],
		"no-use-before-define" : 2,
		"no-useless-call" : 2,
		"no-useless-concat" : 2,
		"no-var" : 0,
		"no-void" : 2,
		"no-with" : 0,
		"object-shorthand" : 1,
		"padded-blocks" : [1, "never"],
		"prefer-const": 2,
		"prefer-spread" : 1,
		"prefer-template" : 1,
		"quotes" : [1, "double"],
		"radix" : 0,
		"react/display-name" : 0,
		"react/forbid-component-props" : 0,
		"react/forbid-prop-types" : 0,
		"react/jsx-boolean-value" : [1, "always"],
		"react/jsx-closing-bracket-location" : 0,
		"react/jsx-curly-spacing" : [1, "never"],
		"react/jsx-equals-spacing" : [2, "never"],
		"react/jsx-filename-extension" : 0,
		"react/jsx-first-prop-new-line" : [2, "multiline"],
		"react/jsx-handler-names" : 0,
		"react/jsx-indent" : 0,
		"react/jsx-indent-props" : [2, "tab"],
		"react/jsx-key" : 1,
		"react/jsx-max-props-per-line" : [1, {"maximum" : 3 }],
		"react/jsx-no-bind" : [1, {"allowArrowFunctions" : false, "allowBind" : false, "ignoreRefs" : true}],
		"react/jsx-no-comment-textnodes" : 2,
		"react/jsx-no-duplicate-props" : 1,
		"react/jsx-no-literals" : 0,
		"react/jsx-no-target-blank" : 2,
		"react/jsx-no-undef" : 0,
		"react/jsx-pascal-case" : [2, {"allowAllCaps" : true }],
		"react/jsx-sort-props" : 0,
		"react/jsx-space-before-closing" : 0,
		"react/jsx-uses-react" : 1,
		"react/jsx-uses-vars" : 1,
		"react/jsx-wrap-multilines" : 0,
		"react/no-children-prop": 1,
		"react/no-danger" : 0,
		"react/no-danger-with-children" : 2,
		"react/no-deprecated" : 1,
		"react/no-did-mount-set-state" : 2,
		"react/no-did-update-set-state" : 2,
		"react/no-direct-mutation-state" : 2,
		"react/no-find-dom-node" : 2,
		"react/no-is-mounted" : 2,
		"react/no-multi-comp" : [2, {"ignoreStateless" : true }],
		"react/no-render-return-value" : 2,
		"react/no-set-state" : 0,
		"react/no-string-refs" : 2,
		"react/no-unknown-property" : 2,
		"react/no-unused-prop-types" : 0,
		"react/no-unescaped-entities" : 0,
		"react/prefer-es6-class" : [2, "always"],
		"react/prefer-stateless-function" : [1, { "ignorePureComponents": true}],
		"react/prop-types" : 0,
		"react/react-in-jsx-scope" : 2,
		"react/require-optimization" : 1,
		"react/require-render-return" : 2,
		"react/self-closing-comp" : 1,
		"react/sort-comp" : 1,
		"react/sort-prop-types" : 0,
		"react/style-prop-object" : 2,
		"require-yield" : 2,
		"semi" : [2, "always"],
		"space-before-function-paren" : ["error", {"anonymous": "never", "named": "never", "asyncArrow": "ignore"}],
		"space-infix-ops" : [2, {"int32Hint" : false }],
		"space-unary-ops" : [1, {"nonwords" : false, "words" : true}],
		"use-isnan" : 2,
		"valid-typeof" : 2,
		"vars-on-top" : 1,
		"wrap-iife" : 2,
		"wrap-regex" : 1
	}
}
